<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718175742500-sbc87jgdt7rf45c38bs5r2oom59ealuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718175742500-sbc87jgdt7rf45c38bs5r2oom59ealuf</string>
	<key>API_KEY</key>
	<string>AIzaSyDgMztYYEKpc-uANQ5W8dgylDVo2r2LQfg</string>
	<key>GCM_SENDER_ID</key>
	<string>718175742500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brotsky.Where--Find-Your-Lost-Things</string>
	<key>PROJECT_ID</key>
	<string>where-find-your-lost-things</string>
	<key>STORAGE_BUCKET</key>
	<string>where-find-your-lost-things.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718175742500:ios:070f76bff6be43980946b1</string>
</dict>
</plist>